body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

nav{
    display: flex;
}
nav .nav-title{
    font-size: 45px;
    font-weight: 800;
    color:  #181818;
}
