/*common css*/
*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}
/* navigation part starts here */
nav{
    display: flex;
}
nav .nav-title{
    font-size: 45px;
    font-weight: 800;
    color:  #181818;
}
nav .nav-title .orange-text{
    color:  #fd6e0a;
}
